:root {
	--ic-border-color: #555;
	--ic-color: #444;
	--ic-color-light: #999;
	--ic-bg-color: #fff;

	--ic-padding--block: .5em;
	--ic-padding--inline: .7em;
}

.input-component {
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: var(--ic-color);

	&:focus-within {
		--ic-color: var(--color--light-primary);
	}

	&:hover {
		--ic-border-color: black;
	}

	&__label {
		color: var(--ic-color);
	}

	&--error {
		--ic-border-color: red;
		--ic-color: red;
		--ic-color-light: red;

		&:focus-within {
			--ic-color: red;
			--ic-border-color: red;
		}

		&:hover {
			--ic-border-color: black;
			--ic-color: black;
			--ic-color-light: black;
		}
	}
}

.disabled-component,
.disabled-component input {
	--ic-border-color: transparent;
	--ic-bg-color: #ddd;
	cursor: not-allowed;
}

.container-input {
	padding: var(--ic-padding--block) var(--ic-padding--inline);
	width: 100%;

	display: flex;
	align-items: center;
	gap: 1em;

	color: var(--ic-color);
	background-color: var(--ic-bg-color);
	border: 1px solid var(--ic-border-color);
	border-radius: 7px;

	&:focus-within {
		--ic-border-color: var(--color--light-primary);
	}

	&:hover {
		--ic-border-color: black;
	}

	&--error {
		&:focus-within {
			--ic-border-color: red;
		}

		&:hover {
			--ic-border-color: black;
		}
	}

	input {
		padding: 1em 0;
		border: none;
		color: #444;
		background-color: inherit;
		font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: inherit;

		&:focus {
			outline: none;
		}
	}

	svg {
		width: 27px;
		height: 27px;
	}

	&--size--small {
		--ic-padding--block: 0em;
		--ic-padding--inline: .7em;
	}

	&--size--medium {
		--ic-padding--block: .5em;
		--ic-padding--inline: .7em;
	}

	&--size--large {
		--ic-padding--block: .9em;
		--ic-padding--inline: 1.4em;
	}

	&--fullwidth {
		width: 100%;
	}
}

.helper-text {
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: var(--ic-color-light);
}